<!DOCTYPE html>
<html>
<header>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Lab5{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/bootstrap.min.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/jquery-3.1.1.min.js') }}" ></script>
</header>
<body>
<div class="wrapper">
	<div class="content">
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<ul class="nav navbar-nav">
		      <li><a href="/info">Информация о персонажах и победивших кланах</a></li>
		    </ul>
		</div>
	</footer>
</div>
</body>
</html>