{% extends 'base.html' %}

{% block title %}Select pers{% endblock %}
{% block content %}
	<form method="post" action="{{ url_for('graph_pers') }}">
		<select name="name_pers">
			{% for row in names %}
			<option>{{ row['name'] }}</option>
			{% endfor %}
		</select>
		<input type="radio" name="rb" value="1"> задание 1
		<input type="radio" name="rb" value="2"> задание 2
		<input type="radio" name="rb" value="3"> задание 3
		<input type="submit">
	</form>
	<ul class="pagination">
		{% for num in range(1, count_pages+1) %}
			<li><a href="/select_pers/{{ num }}">{{ num }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}