* {
	margin: 0;
	padding: 0;
}

html,
body,
.wrapper {
	height: 100%;
}

.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 110px;
}

.footer {
	height: 80px;
	margin-top: -80px;
}